*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.puzzle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tiles {
    display: flex;
    justify-content: center;
}

.tiles-wrapper {
    position: relative;
    border: 1px solid black;
    padding: 2px;
    margin-bottom: 24px;
}

.hide {
    background-size: 0 !important;
}

.show {
    background-size: 100%;
    transition: all 1s linear;
}

.tiles__items {
    display: grid;
    grid-gap: 0;
}

.tile {
    outline: 3px solid white;
    outline-offset: -1px;

    overflow: hidden;
    width: 100%;
    padding-top: 100%;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.buttons-wrapper__button {
    background: #FFF;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.buttons-wrapper__button:not(:first-child) {
    margin-left: 12px;
}



