.tiles {
    display: grid;
    grid-gap: 0px;
}

.tile {
    outline: 1px solid white;
    outline-offset: -1px;

    overflow: hidden;
    width: 100%;
    padding-top: 100%;
}

.tiles-wrapper {
    position: relative;
    margin: auto;
    border: 1px solid black;
    padding: 2px;
}
