.puzzle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tiles {
    display: flex;
    justify-content: center;
}

.tiles-wrapper {
    position: relative;
    border: 1px solid black;
    padding: 2px;
    margin-bottom: 24px;
}

.hide {
    background-size: 0 !important;
}

.show {
    background-size: 100%;
    transition: all 1s linear;
}

.tiles__items {
    display: grid;
    grid-gap: 0;
}

.tile {
    outline: 1px solid white;
    outline-offset: -1px;

    overflow: hidden;
    width: 100%;
    padding-top: 100%;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.buttons-wrapper__button {
    background: #FFF;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.buttons-wrapper__button:not(:first-child) {
    margin-left: 12px;
}



